[submodule "sources/scoop/main"]
	path = sources/scoop/main
	url = https://github.com/ScoopInstaller/Main.git
	shallow = true
[submodule "sources/scoop/extras"]
	path = sources/scoop/extras
	url = https://github.com/ScoopInstaller/Extras.git
	shallow = true
[submodule "sources/scoop/versions"]
	path = sources/scoop/versions
	url = https://github.com/ScoopInstaller/Versions.git
	shallow = true
[submodule "sources/scoop/nirsoft"]
	path = sources/scoop/nirsoft
	url = https://github.com/ScoopInstaller/Nirsoft.git
	shallow = true
[submodule "sources/scoop/sysinternals"]
	path = sources/scoop/sysinternals
	url = https://github.com/niheaven/scoop-sysinternals.git
	shallow = true
[submodule "sources/scoop/php"]
	path = sources/scoop/php
	url = https://github.com/ScoopInstaller/PHP.git
	shallow = true
[submodule "sources/scoop/nerd-fonts"]
	path = sources/scoop/nerd-fonts
	url = https://github.com/matthewjberger/scoop-nerd-fonts.git
	shallow = true
[submodule "sources/scoop/nonportable"]
	path = sources/scoop/nonportable
	url = https://github.com/ScoopInstaller/Nonportable.git
	shallow = true
[submodule "sources/scoop/java"]
	path = sources/scoop/java
	url = https://github.com/ScoopInstaller/Java.git
	shallow = true
[submodule "sources/scoop/games"]
	path = sources/scoop/games
	url = https://github.com/Calinou/scoop-games.git
	shallow = true
[submodule "sources/chocolatey/community-packages"]
	path = sources/chocolatey/community-packages
	url = https://github.com/chocolatey-community/chocolatey-packages.git
	shallow = true
